@font-face {
	font-family: 'jandi-icon';
	src:url('../fonts/jandi-icon.eot?il0mhd');
	src:url('../fonts/jandi-icon.eot?il0mhd#iefix') format('embedded-opentype'),
		url('../fonts/jandi-icon.ttf?il0mhd') format('truetype'),
		url('../fonts/jandi-icon.woff?il0mhd') format('woff'),
		url('../fonts/jandi-icon.svg?il0mhd#jandi-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'jandi-icon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-connect-circle:before {
	content: "\e900";
}
.icon-connect-fill:before {
	content: "\e901";
}
.icon-connect:before {
	content: "\e902";
}
.icon-arrow-down-fill:before {
	content: "\e903";
}
.icon-arrow-left-fill:before {
	content: "\e904";
}
.icon-arrow-right-fill:before {
	content: "\e905";
}
.icon-arrow-up-fill:before {
	content: "\e906";
}
.icon-link-broken:before {
	content: "\e907";
}
.icon-link:before {
	content: "\e908";
}
.icon-bullhorn-fill:before {
	content: "\e909";
}
.icon-bullhorn:before {
	content: "\e90a";
}
.icon-comment-fill:before {
	content: "\e90b";
}
.icon-comment:before {
	content: "\e90c";
}
.icon-info-fill:before {
	content: "\e90d";
}
.icon-info:before {
	content: "\e90e";
}
.icon-member-disabled-fill:before {
	content: "\e90f";
}
.icon-member-disabled:before {
	content: "\e910";
}
.icon-user-plus-fill:before {
	content: "\e911";
}
.icon-user-plus:before {
	content: "\e912";
}
.icon-users-line:before {
	content: "\e913";
}
.icon-accounthome:before {
	content: "\e914";
}
.icon-angle-double-down:before {
	content: "\e915";
}
.icon-angle-double-left:before {
	content: "\e916";
}
.icon-angle-double-right:before {
	content: "\e917";
}
.icon-angle-double-up:before {
	content: "\e918";
}
.icon-angle-down:before {
	content: "\e919";
}
.icon-angle-left:before {
	content: "\e91a";
}
.icon-angle-right:before {
	content: "\e91b";
}
.icon-angle-up:before {
	content: "\e91c";
}
.icon-arrow-down:before {
	content: "\e91d";
}
.icon-arrow-left-circle:before {
	content: "\e91e";
}
.icon-arrow-left:before {
	content: "\e91f";
}
.icon-arrow-right-circle:before {
	content: "\e920";
}
.icon-arrow-right:before {
	content: "\e921";
}
.icon-arrow-up:before {
	content: "\e922";
}
.icon-at:before {
	content: "\e923";
}
.icon-bars:before {
	content: "\e924";
}
.icon-bell-fill:before {
	content: "\e925";
}
.icon-bell-slash-fill:before {
	content: "\e926";
}
.icon-bell-slash:before {
	content: "\e927";
}
.icon-bell:before {
	content: "\e928";
}
.icon-chat-plus-circle:before {
	content: "\e929";
}
.icon-chat:before {
	content: "\e92a";
}
.icon-check-circle:before {
	content: "\e92b";
}
.icon-check:before {
	content: "\e92c";
}
.icon-clock-fill:before {
	content: "\e92d";
}
.icon-clock:before {
	content: "\e92e";
}
.icon-cog-fill:before {
	content: "\e92f";
}
.icon-cog:before {
	content: "\e930";
}
.icon-delete:before {
	content: "\e931";
}
.icon-download-fill:before {
	content: "\e932";
}
.icon-download:before {
	content: "\e933";
}
.icon-file-fill:before {
	content: "\e934";
}
.icon-file:before {
	content: "\e935";
}
.icon-folder-fill:before {
	content: "\e936";
}
.icon-folder:before {
	content: "\e937";
}
.icon-global:before {
	content: "\e938";
}
.icon-help-fill:before {
	content: "\e939";
}
.icon-help:before {
	content: "\e93a";
}
.icon-laptop-mini:before {
	content: "\e93b";
}
.icon-laptop:before {
	content: "\e93c";
}
.icon-lock:before {
	content: "\e93d";
}
.icon-long-arrow-left:before {
	content: "\e93e";
}
.icon-long-arrow-right:before {
	content: "\e93f";
}
.icon-mail:before {
	content: "\e940";
}
.icon-microphone:before {
	content: "\e941";
}
.icon-minimize:before {
	content: "\e942";
}
.icon-minus-circle:before {
	content: "\e943";
}
.icon-more-circle:before {
	content: "\e944";
}
.icon-more-fill:before {
	content: "\e945";
}
.icon-more-vertical-circle:before {
	content: "\e946";
}
.icon-more-vertical:before {
	content: "\e947";
}
.icon-more:before {
	content: "\e948";
}
.icon-pencil-fill:before {
	content: "\e949";
}
.icon-pencil-line:before {
	content: "\e94a";
}
.icon-pencil:before {
	content: "\e94b";
}
.icon-phone-fill:before {
	content: "\e94c";
}
.icon-phone:before {
	content: "\e94d";
}
.icon-plus-circle:before {
	content: "\e94e";
}
.icon-plus:before {
	content: "\e94f";
}
.icon-refresh:before {
	content: "\e950";
}
.icon-remove-circle:before {
	content: "\e951";
}
.icon-reorder:before {
	content: "\e952";
}
.icon-search:before {
	content: "\e953";
}
.icon-share-left-circle:before {
	content: "\e954";
}
.icon-share-left-fill:before {
	content: "\e955";
}
.icon-share-left:before {
	content: "\e956";
}
.icon-share-right-circle:before {
	content: "\e957";
}
.icon-share-right-fill:before {
	content: "\e958";
}
.icon-share-right:before {
	content: "\e959";
}
.icon-sign-out-fill:before {
	content: "\e95a";
}
.icon-sign-out:before {
	content: "\e95b";
}
.icon-star-circle-fill-off:before {
	content: "\e95c";
}
.icon-star-circle-fill-on:before {
	content: "\e95d";
}
.icon-star-circle-off:before {
	content: "\e95e";
}
.icon-star-circle-on:before {
	content: "\e95f";
}
.icon-star-off:before {
	content: "\e960";
}
.icon-star-on:before {
	content: "\e961";
}
.icon-sticker:before {
	content: "\e962";
}
.icon-switch:before {
	content: "\e963";
}
.icon-topic-fill:before {
	content: "\e964";
}
.icon-topic-plus:before {
	content: "\e965";
}
.icon-topic-private:before {
	content: "\e966";
}
.icon-topic:before {
	content: "\e967";
}
.icon-trash-fill:before {
	content: "\e968";
}
.icon-trash:before {
	content: "\e969";
}
.icon-upload-fill:before {
	content: "\e96a";
}
.icon-upload:before {
	content: "\e96b";
}
.icon-user-circle-fill:before {
	content: "\e96c";
}
.icon-user-circle:before {
	content: "\e96d";
}
.icon-user-fill:before {
	content: "\e96e";
}
.icon-user-plus-circle-fill:before {
	content: "\e96f";
}
.icon-user-plus-circle:before {
	content: "\e970";
}
.icon-user:before {
	content: "\e971";
}
.icon-users:before {
	content: "\e972";
}
.icon-volume-down:before {
	content: "\e973";
}
.icon-volume-off:before {
	content: "\e974";
}
.icon-volume-up:before {
	content: "\e975";
}
.icon-warning-fill:before {
	content: "\e976";
}
.icon-warning-triangle:before {
	content: "\e977";
}
.icon-warning:before {
	content: "\e978";
}
.icon-wrench:before {
	content: "\e979";
}

