/* 
 * JANDI User Interface Style - live mockup page
 * 
 *
 */
 
.contents {
  max-width: 768px;
  padding: 24px 36px;
  margin: 0 auto;
}
	
#edit-section > section {
  margin:0.5em 0;
}

#edit-section .grid-section {
  margin-left: 20px;
}

.output-section {
  background-color:#fff;
  background-color: rgb(248, 249, 253);
  border:1px solid #eaeaea;
  border-radius: 3px;
  padding: 24px;
  margin-top: 0.5em !important;
}

/*
#preview-area .select-background {
  margin: 10px 0;
}
*/

.output-section > button#second-components {
  margin-left: 1em;
}

hr {
  margin: 1em 0;
}

.output-section.code-block {
  margin-top: 12px;
  margin-bottom: 24px;
  font-family: Courier;
  font-size: 15px;
  
}
.output-section.code-block > p {
  white-space: pre-wrap;
  word-wrap: break-word;
  color: #333;
  
}



/* 각 항목의 툴팁 */
form h3 > i[class*="icon-"] {
  opacity: 0.35;
  font-size: 0.85em;
  vertical-align: middle;
  color: #0073CE;
  margin-left: 0.05em;
  
  -webkit-transition: opacity ease-out 0.25s;
  transition: opacity ease-out 0.25s;
}

form h3 > i[class*="icon-"]:hover {
  opacity: 0.75;
  cursor: pointer;
}


/* 툴팁 박스 스타일 */
.tooltip {
  background-color: #000;
  color: #FFF;
  
  border-radius: 4px;
  padding: 0.5em 1em;
  z-index: 12;
  
  
  font-size: 14px;
  line-height: 1.5em;
  
  max-width: 200px;
  position: absolute;
  opacity: 0;
  display: none;
  
}

.tooltip.hover{
  
  display: inline-block;
  opacity: 1;
  
  -webkit-transition: opacity ease-out 0.5s;
  transition: opacity ease-out 0.5s;
}

.tooltip:before {
  content: '';
  width: 10px;
  height: 10px;
  background-color: inherit;
  
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  
  position: absolute;
  margin-left: -3px;
  margin-top: -10px;
}
