@charset "UTF-8";
/* Default Variables */
/* Dark Theme */
body {
  -webkit-font-smoothing: antialiased;
  font-family: Helvetica Neue, sans-serif;
  padding: 15px;
  margin: 0; }

.color-chip.color-confirm {
  background-color: #3A89FF; }

/* Basic Anchor Tag */
a {
  cursor: pointer;
  outline: none;
  display: inline-block;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.2em;
  color: #969696; }
  a:after {
    content: '';
    display: block;
    clear: both;
    float: none; }
  a:hover {
    color: #828282; }
  a:active {
    color: #828282; }
  a:focus {
    color: #828282; }
  a label {
    cursor: inherit; }
  a i {
    font-size: 18px;
    display: inline-block;
    vertical-align: middle; }
    a i:first-child {
      float: left; }
    a i:last-child {
      float: right; }

a.jui-text-link-confirm {
  color: #3A89FF; }
  a.jui-text-link-confirm:not([disabled]):hover {
    color: #1370F2; }
  a.jui-text-link-confirm:not([disabled]):active {
    color: #005BF2; }
  a.jui-text-link-confirm:not([disabled]):focus {
    color: #005BF2; }

/* Basic Button Tag */
button {
  position: relative;
  box-sizing: border-box; }

button[class*="jui-button"] {
  outline: none;
  cursor: pointer;
  padding: 6px 12px;
  border: 1px solid transparent;
  border-radius: 0.2em;
  background-color: #cccccc;
  font-size: 15px;
  line-height: 1.2em;
  font-weight: 600;
  font-weight: 700; }
  button[class*="jui-button"] label {
    position: relative;
    display: inline-block;
    pointer-events: none; }
  button[class*="jui-button"] i {
    position: relative;
    font-size: 18px;
    height: 18px;
    transform: translateY(-1px); }
    button[class*="jui-button"] i.right-pos {
      margin-right: -4.5px;
      margin-left: 3px;
      float: right; }
    button[class*="jui-button"] i.left-pos {
      margin-left: -4.5px;
      margin-right: 3px;
      float: left; }
  button[class*="jui-button"]:not([disabled]):active {
    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.1); }
  button[class*="jui-button"][disabled] {
    cursor: not-allowed;
    background-color: #cccccc;
    color: #FFFFFF; }

/* Variations */
button.jui-button-confirm {
  background-color: #3A89FF;
  color: #FFFFFF; }
  button.jui-button-confirm:not([disabled]):hover {
    background-color: #1370F2; }
  button.jui-button-confirm:not([disabled]):active {
    background-color: #005BF2; }
  button.jui-button-confirm:not([disabled]):focus {
    background-color: #005BF2; }
  button.jui-button-confirm.outlined {
    border-color: #3A89FF;
    background-color: transparent;
    color: #3A89FF; }
    button.jui-button-confirm.outlined:hover {
      border-color: transparent;
      color: #FFFFFF; }
    button.jui-button-confirm.outlined:active {
      border-color: transparent;
      color: #FFFFFF; }
    button.jui-button-confirm.outlined:focus {
      border-color: transparent;
      color: #FFFFFF; }

button.jui-button-alert {
  background-color: #F82323;
  color: #FFFFFF; }
  button.jui-button-alert:not([disabled]):hover {
    background-color: #C9302C; }
  button.jui-button-alert:not([disabled]):active {
    background-color: #BB2A27; }
  button.jui-button-alert:not([disabled]):focus {
    background-color: #BB2A27; }

button.jui-button-cancel {
  background-color: #FFFFFF;
  border-color: #C9D4DB;
  color: #617B8E; }
  button.jui-button-cancel:hover {
    background-color: #F2F3F4; }
  button.jui-button-cancel:active {
    background-color: #F2F3F4; }
  button.jui-button-cancel:focus {
    background-color: #F2F3F4; }
  button.jui-button-cancel.transparent {
    border-color: transparent;
    background-color: transparent;
    color: #617B8E; }
    button.jui-button-cancel.transparent:hover {
      background-color: #F2F3F4; }

button[class*="arrow-shaped"].left-arrow-shaped {
  padding-left: 4.5px;
  margin-left: 13.5px; }

button[class*="arrow-shaped"].right-arrow-shaped {
  padding-right: 4.5px;
  margin-right: 13.5px; }
  button[class*="arrow-shaped"].right-arrow-shaped:before {
    transform: rotate(45deg) scaleX(-1);
    left: auto;
    right: -12px;
    width: 24px; }

button[class*="arrow-shaped"]:before {
  content: '';
  position: absolute;
  left: -12px;
  top: 3px;
  z-index: 0;
  width: 22px;
  border-style: solid;
  height: 22px;
  border-radius: 5px 4px 0 3px;
  border-color: inherit;
  border-width: 1px 0px 0px 1px;
  background-color: inherit;
  transform: rotate(-45deg) scaleX(1);
  box-shadow: inherit; }

button[class*="circular-shaped"] {
  border-radius: 2.88em;
  padding-left: 1.2em;
  padding-right: 1.2em; }

button[class*="dropdown"] i {
  font-size: 13.5px; }

/* profile container */
.user-profile-container {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  box-sizing: border-box;
  cursor: pointer;
  background-color: #FFF;
  border: 1px solid #e1e1e1;
  position: relative; }
  .user-profile-container.size-xs {
    width: 23px;
    height: 23px; }
  .user-profile-container.size-s {
    width: 26px;
    height: 26px; }
  .user-profile-container.size-m {
    width: 28px;
    height: 28px; }
  .user-profile-container.size-l {
    width: 32px;
    height: 32px; }
  .user-profile-container.size-xl {
    width: 36px;
    height: 36px; }
  .user-profile-container.size-106 {
    width: 106px;
    height: 106px; }
  .user-profile-container.is-away {
    /* 부재 중 상태 일 때 */
    background-color: #000;
    border-width: 0;
    /* 윈도우 환경에서 border 부분이 깨지는 이슈로 인해 border 제거 */ }
    .user-profile-container.is-away .overlay-user-profile {
      opacity: 1; }
    .user-profile-container.is-away .img-user-profile {
      opacity: 0.325; }
  .user-profile-container.is-groupchat {
    /* 그룹 챗 일 때 */ }
    .user-profile-container.is-groupchat[class*='-members']:after, .user-profile-container.is-groupchat[class*='-members']:before {
      content: '';
      position: absolute; }
    .user-profile-container.is-groupchat.has-2-members:after {
      width: 50%;
      height: 100%;
      border-right: 1px solid #e1e1e1; }
    .user-profile-container.is-groupchat.has-3-members:after {
      width: 100%;
      height: 50%;
      border-bottom: 1px solid #e1e1e1; }
    .user-profile-container.is-groupchat.has-4-members:after {
      width: 100%;
      height: 50%;
      border-bottom: 1px solid #e1e1e1; }
    .user-profile-container.is-groupchat.has-3-members:before {
      top: 50%;
      width: 50%;
      height: 50%;
      border-right: 1px solid #e1e1e1;
      z-index: 1; }
    .user-profile-container.is-groupchat.has-4-members:before {
      top: 0%;
      width: 50%;
      height: 100%;
      border-right: 1px solid #e1e1e1;
      z-index: 1; }

.img-user-profile {
  width: 100%;
  height: 100%;
  margin: 0; }

.overlay-user-profile {
  /* 부재중 상태 표시 레이어 */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0; }
  .overlay-user-profile .icon-svg.ico-away {
    background: url("../assets/images/icon-away-state.svg");
    background-size: cover;
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    -webkit-transform: rotate(45deg) translate(0, -1px) scale(0.925);
    transform: rotate(45deg) translate(0, -1px) scale(0.925); }
