/* Default Variables */
body {
  -webkit-font-smoothing: antialiased;
  font-family: Helvetica Neue, sans-serif; }

/* Base & Nesting */
button {
  position: relative;
  box-sizing: border-box; }

button[class*="jui-button"] {
  outline: none;
  cursor: pointer;
  padding: 6px 12px;
  border: 1px solid transparent;
  border-radius: 0.2em;
  background-color: #cccccc; }
  button[class*="jui-button"] label {
    color: inherit;
    position: relative;
    font-weight: 700;
    font-size: 15px;
    pointer-events: none;
    line-height: 1.25em; }
  button[class*="jui-button"] i {
    color: inherit;
    position: relative;
    font-weight: 600;
    display: inline-block;
    font-size: 18px;
    line-height: 1em; }
    button[class*="jui-button"] i:last-child {
      margin-right: -3.75px; }
    button[class*="jui-button"] i:first-child {
      margin-left: -3.75px; }
  button[class*="jui-button"]:not([disabled]):active {
    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.1); }
  button[class*="jui-button"][disabled] {
    cursor: not-allowed;
    background-color: #cccccc;
    color: white; }

/* Variations */
button.jui-button-confirm {
  background-color: #00ACE9;
  color: white; }
  button.jui-button-confirm:not([disabled]):hover {
    background-color: #0092D8; }
  button.jui-button-confirm:not([disabled]):active {
    background-color: #0389C8; }
  button.jui-button-confirm:not([disabled]):focus {
    background-color: #0389C8; }
  button.jui-button-confirm.outlined {
    border-color: #00ACE9;
    background-color: white;
    color: #00ACE9; }
    button.jui-button-confirm.outlined:hover {
      border-color: transparent;
      color: white; }
    button.jui-button-confirm.outlined:active {
      border-color: transparent;
      color: white; }
    button.jui-button-confirm.outlined:focus {
      border-color: transparent;
      color: white; }

button.jui-button-alert {
  background-color: #D94516;
  color: white; }
  button.jui-button-alert:not([disabled]):hover {
    background-color: #C9302C; }
  button.jui-button-alert:not([disabled]):active {
    background-color: #BB2A27; }
  button.jui-button-alert:not([disabled]):focus {
    background-color: #BB2A27; }

button.jui-button-cancel {
  background-color: white;
  border-color: #C9D4DB;
  color: #617B8E; }
  button.jui-button-cancel:hover {
    background-color: #F2F3F4; }
  button.jui-button-cancel:active {
    background-color: #F2F3F4; }
  button.jui-button-cancel:focus {
    background-color: #F2F3F4; }
  button.jui-button-cancel.transparent {
    border-color: transparent;
    background-color: transparent;
    color: #617B8E; }
    button.jui-button-cancel.transparent:hover {
      background-color: #F2F3F4; }

button[class*="arrow-shaped"].left-arrow-shaped {
  padding-left: 4.5px;
  margin-left: 13.5px; }

button[class*="arrow-shaped"].right-arrow-shaped {
  padding-right: 4.5px;
  margin-right: 13.5px; }
  button[class*="arrow-shaped"].right-arrow-shaped:before {
    transform: rotate(45deg) scaleX(-1);
    left: auto;
    right: -12px;
    width: 24px; }

button[class*="arrow-shaped"]:before {
  content: '';
  position: absolute;
  left: -12px;
  top: 3px;
  z-index: 0;
  width: 22px;
  border-style: solid;
  height: 22px;
  border-radius: 5px 4px 0 3px;
  border-color: inherit;
  border-width: 1px 0px 0px 1px;
  background-color: inherit;
  transform: rotate(-45deg) scaleX(1);
  box-shadow: inherit; }

button[class*="circular-shaped"] {
  border-radius: 3em;
  padding-left: 1.5em;
  padding-right: 1.5em; }

button[class*="dropdown"] i {
  font-size: 13.5px; }
