@charset "UTF-8";
.user-profile-container.is-groupchat,
.user-profile-container.is-groupchat .img-user-profile,
.user-profile-container.is-groupchat .img-user-profile > img {
  -webkit-transform: translate(0, 0) rotate(0deg);
  transform: translate(0, 0) rotate(0deg);
  -webkit-transform-origin: center center;
  transform-origin: center center;
  -webkit-transition: transform 0.4s cubic-bezier(0.35, 0, 0.08, 0.995);
  transition: transform 0.4s cubic-bezier(0.35, 0, 0.08, 0.995); }

.user-profile-container.is-groupchat.from-3-to-4-members,
.user-profile-container.is-groupchat.from-4-to-5-members,
.user-profile-container.is-groupchat.has-4-members,
.user-profile-container.is-groupchat.has-5-members {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg); }

.user-profile-container.is-groupchat .img-user-profile:nth-of-type(1) {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.user-profile-container.is-groupchat .img-user-profile:nth-of-type(1) > img {
  -webkit-transform: translate3d(0, 0, 0) rotate(0deg);
  transform: translate3d(0, 0, 0) rotate(0deg); }

.user-profile-container.is-groupchat .img-user-profile:not(:nth-of-type(1)) {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0); }

.user-profile-container.is-groupchat .img-user-profile:not(:nth-of-type(1)) > img {
  -webkit-transform: translate3d(0, 0, 0) rotate(0deg);
  transform: translate3d(0, 0, 0) rotate(0deg); }

.user-profile-container.is-groupchat:not([class*="from-"]),
.user-profile-container.is-groupchat:not([class*="from-"]) .img-user-profile,
.user-profile-container.is-groupchat:not([class*="from-"]) .img-user-profile > img {
  /* from-n-to-n-members 클래스가 할당되지 않았을 경우 애니메이션을 보여주지 않는다. */
  -webkit-animation: none;
  animation: none;
  -webkit-transition: none;
  transition: none; }

/* base bezier curve
	
  transition: all .5s cubic-bezier(0.35, 0, 0.08, 0.995);

  animation : {{keyframe animation name}} {{duration}} {{easing}} {{delay}} {{iteration}} {{animation-fill-mode}} */
/* 그룹 채팅의 멤버가 2->3명일 때 프로필 이미지 위치 이동 
.user-profile-container.is-groupchat.has-2-members.from-2-to-3-members .img-user-profile:nth-of-type(1) {
  -webkit-animation: animate-1-to-2-members-1st-profile .4s cubic-bezier(0.35, 0, 0.08, 0.995) 1 forwards;
  animation: animate-1-to-2-members-1st-profile .4s cubic-bezier(0.35, 0, 0.08, 0.995) 1 forwards;
}
.user-profile-container.is-groupchat.has-2-members.from-2-to-3-members .img-user-profile:nth-of-type(1) > img {
  -webkit-animation: animate-1-to-2-members-1st-profile-img .4s cubic-bezier(0.35, 0, 0.08, 0.995) 1 forwards;
  animation: animate-1-to-2-members-1st-profile-img .4s cubic-bezier(0.35, 0, 0.08, 0.995) 1 forwards;
}

.user-profile-container.is-groupchat.has-2-members.from-2-to-3-members .img-user-profile:nth-of-type(2) {
  -webkit-animation: animate-1-to-2-members-2nd-profile .4s cubic-bezier(0.35, 0, 0.08, 0.995) 1 forwards;
  animation: animate-1-to-2-members-2nd-profile .4s cubic-bezier(0.35, 0, 0.08, 0.995) 1 forwards;
}
.user-profile-container.is-groupchat.has-2-members.from-2-to-3-members .img-user-profile:nth-of-type(2) > img {
  -webkit-animation: animate-1-to-2-members-2nd-profile-img .4s cubic-bezier(0.35, 0, 0.08, 0.995) 1 forwards;
  animation: animate-1-to-2-members-2nd-profile-img .4s cubic-bezier(0.35, 0, 0.08, 0.995) 1 forwards;
}


@keyframes animate-1-to-2-members-1st-profile {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}
@keyframes animate-1-to-2-members-1st-profile-img {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(25%, 0, 0);
  }
}

@keyframes animate-1-to-2-members-2nd-profile {
  0% {
    transform: translate3d(100%, 0, 0);
  }
  100% {
    transform: translate3d(50%, 0, 0);
  }	
}
@keyframes animate-1-to-2-members-2nd-profile-img {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-25%, 0, 0);
  }	
}
*/
/* 그룹 채팅의 멤버가 3명일 때 프로필 이미지 '고정' 위치 */
.user-profile-container.is-groupchat.has-3-members .img-user-profile:nth-of-type(1) {
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0); }

.user-profile-container.is-groupchat.has-3-members .img-user-profile:nth-of-type(1) > img {
  -webkit-transform: translate3d(25%, 0, 0);
  transform: translate3d(25%, 0, 0); }

.user-profile-container.is-groupchat.has-3-members .img-user-profile:nth-of-type(2) {
  -webkit-transform: translate3d(50%, 0, 0);
  transform: translate3d(50%, 0, 0); }

.user-profile-container.is-groupchat.has-3-members .img-user-profile:nth-of-type(2) > img {
  -webkit-transform: translate3d(-25%, 0, 0);
  transform: translate3d(-25%, 0, 0); }

/* 그룹 채팅의 멤버가 3->4 명일 때 프로필 이미지 위치 이동 
.user-profile-container.is-groupchat.from-3-to-4-members .img-user-profile:nth-of-type(1) {
  -webkit-animation: animate-2-to-3-members-1st-profile .8s cubic-bezier(0.35, 0, 0.08, 0.995) 1 forwards;
  animation: animate-2-to-3-members-1st-profile .8s cubic-bezier(0.35, 0, 0.08, 0.995) 1 forwards;
}

.user-profile-container.is-groupchat.from-3-to-4-members .img-user-profile:nth-of-type(1) > img {
  -webkit-animation: animate-2-to-3-members-1st-profile-img .8s cubic-bezier(0.35, 0, 0.08, 0.995) 1 forwards;
  animation: animate-2-to-3-members-1st-profile-img .8s cubic-bezier(0.35, 0, 0.08, 0.995) 1 forwards;
}

.user-profile-container.is-groupchat.from-3-to-4-members .img-user-profile:nth-of-type(2) {
  -webkit-animation: animate-2-to-3-members-2nd-profile .8s cubic-bezier(0.35, 0, 0.08, 0.995) 1 forwards;
  animation: animate-2-to-3-members-2nd-profile .8s cubic-bezier(0.35, 0, 0.08, 0.995) 1 forwards;
}

.user-profile-container.is-groupchat.from-3-to-4-members .img-user-profile:nth-of-type(2) > img {
  -webkit-animation: animate-2-to-3-members-2nd-profile-img .8s cubic-bezier(0.35, 0, 0.08, 0.995) 1 forwards;
  animation: animate-2-to-3-members-2nd-profile-img .8s cubic-bezier(0.35, 0, 0.08, 0.995) 1 forwards;
}

.user-profile-container.is-groupchat.from-3-to-4-members .img-user-profile:nth-of-type(3) {
  -webkit-animation: animate-2-to-3-members-3rd-profile .8s cubic-bezier(0.35, 0, 0.08, 0.995) 1 forwards;
  animation: animate-2-to-3-members-3rd-profile .8s cubic-bezier(0.35, 0, 0.08, 0.995) 1 forwards;
}

.user-profile-container.is-groupchat.from-3-to-4-members .img-user-profile:nth-of-type(3) > img {
  -webkit-animation: animate-2-to-3-members-3rd-profile-img .8s cubic-bezier(0.35, 0, 0.08, 0.995) 1 forwards;
  animation: animate-2-to-3-members-3rd-profile-img .8s cubic-bezier(0.35, 0, 0.08, 0.995) 1 forwards;
}

@keyframes animate-2-to-3-members-1st-profile {
  0% {
    transform: translate3d(-50%, 0%, 0) rotate(0deg);
  }
  50% {
    transform: translate3d(-50%, 0%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, 0%, 0) rotate(0deg);
  }
}
@keyframes animate-2-to-3-members-1st-profile-img {
  0% {
    transform: translate3d(25%, 0%, 0) rotate(0deg);
  }
  50% {
    transform: translate3d(25%, 0, 0) rotate(-90deg);
  }
  100% {
    transform: translate3d(25%, 0, 0) rotate(-90deg);
  }
}

@keyframes animate-2-to-3-members-2nd-profile {
  0% {
    transform: translate3d(50%, 0%, 0) rotate(0deg);
  }
  50% {
    transform: translate3d(50%, 0, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(50%, 50%, 0) rotate(0deg);
  }	
}
@keyframes animate-2-to-3-members-2nd-profile-img {
  0% {
    transform: translate3d(-25%, 0%, 0) rotate(0deg);
  }
  50% {
    transform: translate3d(0, 0, 0) rotate(-90deg);
  }
  100% {
    transform: translate3d(-25%, -25%, 0) rotate(-90deg) scale(0.5);
  }	
}
@keyframes animate-2-to-3-members-3rd-profile {
  0% {
    transform: translate3d(50%, -100%, 0) rotate(0deg);
  }
  50% {
    transform: translate3d(50%, -100%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(50%, -50%, 0) rotate(0deg);
  }	
}

@keyframes animate-2-to-3-members-3rd-profile-img {
  0% {
    transform: translate3d(-25%, 25%, 0) rotate(-90deg) scale(0.5);
  }
  100% {
    transform: translate3d(-25%, 25%, 0) rotate(-90deg) scale(0.5);
  }	
}
*/
/* 그룹 채팅의 멤버가 4명일 때 프로필 이미지 '고정' 위치 */
.user-profile-container.is-groupchat.has-4-members .img-user-profile:nth-of-type(1) {
  -webkit-transform: translate3d(-50%, 0%, 0) rotate(0deg);
  transform: translate3d(-50%, 0%, 0) rotate(0deg); }

.user-profile-container.is-groupchat.has-4-members .img-user-profile:nth-of-type(1) > img {
  -webkit-transform: translate3d(25%, 0, 0) rotate(-90deg);
  transform: translate3d(25%, 0, 0) rotate(-90deg); }

.user-profile-container.is-groupchat.has-4-members .img-user-profile:nth-of-type(2),
.user-profile-container.is-groupchat.has-5-members .img-user-profile:nth-of-type(2) {
  /* has-4-members, has-5-members 는 동일 */
  -webkit-transform: translate3d(50%, 50%, 0) rotate(0deg);
  transform: translate3d(50%, 50%, 0) rotate(0deg); }

.user-profile-container.is-groupchat.has-4-members .img-user-profile:nth-of-type(2) > img,
.user-profile-container.is-groupchat.has-5-members .img-user-profile:nth-of-type(2) > img {
  /* has-4-members, has-5-members 는 동일 */
  -webkit-transform: translate3d(-25%, -25%, 0) rotate(-90deg) scale(0.5);
  transform: translate3d(-25%, -25%, 0) rotate(-90deg) scale(0.5); }

.user-profile-container.is-groupchat.has-4-members .img-user-profile:nth-of-type(3) {
  -webkit-transform: translate3d(50%, -50%, 0) rotate(0deg);
  transform: translate3d(50%, -50%, 0) rotate(0deg); }

.user-profile-container.is-groupchat.has-4-members .img-user-profile:nth-of-type(3) > img {
  -webkit-transform: translate3d(-25%, 25%, 0) rotate(-90deg) scale(0.5);
  transform: translate3d(-25%, 25%, 0) rotate(-90deg) scale(0.5); }

/* 그룹 채팅의 멤버가 4->5 명일 때 프로필 이미지 위치 '이동' 
.user-profile-container.is-groupchat.from-4-to-5-members .img-user-profile:nth-of-type(1) {
  -webkit-animation: animate-3-to-4-members-1st-profile .8s cubic-bezier(0.35, 0, 0.08, 0.995) 1 forwards;
  animation: animate-3-to-4-members-1st-profile .8s cubic-bezier(0.35, 0, 0.08, 0.995) 1 forwards;
}
.user-profile-container.is-groupchat.from-4-to-5-members .img-user-profile:nth-of-type(1) > img {
  -webkit-animation: animate-3-to-4-members-1st-profile-img .8s cubic-bezier(0.35, 0, 0.08, 0.995) 1 forwards;
  animation: animate-3-to-4-members-1st-profile-img .8s cubic-bezier(0.35, 0, 0.08, 0.995) 1 forwards;
}
.user-profile-container.is-groupchat.from-4-to-5-members .img-user-profile:nth-of-type(2) {
  -webkit-animation: none;
  animation: none;
}
.user-profile-container.is-groupchat.from-4-to-5-members .img-user-profile:nth-of-type(2) > img {
  -webkit-animation: none;
  animation: none;
}
.user-profile-container.is-groupchat.from-4-to-5-members .img-user-profile:nth-of-type(3) {
  -webkit-animation: animate-3-to-4-members-3rd-profile .8s cubic-bezier(0.35, 0, 0.08, 0.995) 1 forwards;
  animation: animate-3-to-4-members-3rd-profile .8s cubic-bezier(0.35, 0, 0.08, 0.995) 1 forwards;
}
.user-profile-container.is-groupchat.from-4-to-5-members .img-user-profile:nth-of-type(3) > img {
  -webkit-animation: animate-3-to-4-members-3rd-profile-img .8s cubic-bezier(0.35, 0, 0.08, 0.995) 1 forwards;
  animation: animate-3-to-4-members-3rd-profile-img .8s cubic-bezier(0.35, 0, 0.08, 0.995) 1 forwards; 
}
.user-profile-container.is-groupchat.from-4-to-5-members .img-user-profile:nth-of-type(4) {
  -webkit-animation: animate-3-to-4-members-4th-profile .8s cubic-bezier(0.35, 0, 0.08, 0.995) 1 forwards;
  animation: animate-3-to-4-members-4th-profile .8s cubic-bezier(0.35, 0, 0.08, 0.995) 1 forwards;
}
.user-profile-container.is-groupchat.from-4-to-5-members .img-user-profile:nth-of-type(4) > img {
  -webkit-animation: animate-3-to-4-members-4th-profile-img .8s cubic-bezier(0.35, 0, 0.08, 0.995) 1 forwards;
  animation: animate-3-to-4-members-4th-profile-img .8s cubic-bezier(0.35, 0, 0.08, 0.995) 1 forwards;
}


@keyframes animate-3-to-4-members-1st-profile {
  0% {
    transform: translate3d(-50%, 0%, 0) rotate(0deg);
  }
  50% {
    transform: translate3d(-50%, 50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, 50%, 0) rotate(0deg);
  }
}
@keyframes animate-3-to-4-members-1st-profile-img {
  0% {
    transform: translate3d(25%, 0, 0) rotate(-90deg);
  }
  50% {
    transform: translate3d(25%, -25%, 0) rotate(-90deg) scale(0.5);
  }
  100% {
    transform: translate3d(25%, -25%, 0) rotate(-90deg) scale(0.5);
  }
}

@keyframes animate-3-to-4-members-3rd-profile {
  0% {
    transform: translate3d(50%, -50%, 0) rotate(0deg);
  }
  50% {
    transform: translate3d(0%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(0%, -50%, 0) rotate(0deg);
  }	
}
@keyframes animate-3-to-4-members-3rd-profile-img {
  0% {
    transform: translate3d(-25%, 25%, 0) rotate(-90deg) scale(0.5);
  }
  100% {
    transform: translate3d(-25%, 25%, 0) rotate(-90deg) scale(0.5);
  }		
}
@keyframes animate-3-to-4-members-4th-profile {
  0% {
    transform: translate3d(50%, -100%, 0) rotate(0deg);
  }
  50% {
    transform: translate3d(50%, -100%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(50%, -50%, 0) rotate(0deg);
  }	
}

@keyframes animate-3-to-4-members-4th-profile-img {
  0% {
    transform: translate3d(-25%, 25%, 0) rotate(-90deg) scale(0.5);
  }
  50% {
	transform: translate3d(-25%, 25%, 0) rotate(-90deg) scale(0.5);
  }
  100% {
    transform: translate3d(-25%, 25%, 0) rotate(-90deg) scale(0.5);
  }	
}
*/
/* 그룹 채팅의 멤버가 5명 이상일 때 프로필 이미지 '고정' 위치 */
.user-profile-container.is-groupchat.has-5-members .img-user-profile:nth-of-type(1) {
  -webkit-transform: translate3d(-50%, 50%, 0) rotate(0deg);
  transform: translate3d(-50%, 50%, 0) rotate(0deg); }

.user-profile-container.is-groupchat.has-5-members .img-user-profile:nth-of-type(1) > img {
  -webkit-transform: translate3d(25%, -25%, 0) rotate(-90deg) scale(0.5);
  transform: translate3d(25%, -25%, 0) rotate(-90deg) scale(0.5); }

.user-profile-container.is-groupchat.has-5-members .img-user-profile:nth-of-type(3) {
  -webkit-transform: translate3d(0%, -50%, 0) rotate(0deg);
  transform: translate3d(0%, -50%, 0) rotate(0deg); }

.user-profile-container.is-groupchat.has-5-members .img-user-profile:nth-of-type(3) > img {
  -webkit-transform: translate3d(-25%, 25%, 0) rotate(-90deg) scale(0.5);
  transform: translate3d(-25%, 25%, 0) rotate(-90deg) scale(0.5); }

.user-profile-container.is-groupchat.has-5-members .img-user-profile:nth-of-type(4) {
  -webkit-transform: translate3d(50%, -50%, 0) rotate(0deg);
  transform: translate3d(50%, -50%, 0) rotate(0deg); }

.user-profile-container.is-groupchat.has-5-members .img-user-profile:nth-of-type(4) > img {
  -webkit-transform: translate3d(-25%, 25%, 0) rotate(-90deg) scale(0.5);
  transform: translate3d(-25%, 25%, 0) rotate(-90deg) scale(0.5); }

/* 프로필 이미지 Divider */
.user-profile-container .img-user-profile:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border: 0px solid #ededed;
  z-index: 1;
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.user-profile-container.is-groupchat .img-user-profile:before {
  opacity: 1 !important;
  transition: opacity .25s ease-out;
  border-width: 0 1px; }

/* 3명이 참여중일 떄 */
.user-profile-container.is-groupchat.from-2-to-3-members .img-user-profile:nth-of-type(1):before,
.user-profile-container.is-groupchat.has-3-members .img-user-profile:nth-of-type(1):before {
  border-width: 0 1px 0 0; }

/* 4명이 참여중일 떄 */
.user-profile-container.is-groupchat.from-3-to-4-members .img-user-profile:nth-of-type(1):before,
.user-profile-container.is-groupchat.has-4-members .img-user-profile:nth-of-type(1):before {
  border-width: 0 1px 0 0; }

.user-profile-container.is-groupchat.from-3-to-4-members .img-user-profile:nth-of-type(3):before,
.user-profile-container.is-groupchat.has-4-members .img-user-profile:nth-of-type(3):before {
  border-width: 0 0 1px 0; }

/* 5명 이상이 참여중일 떄 */
.user-profile-container.is-groupchat.from-4-to-5-members .img-user-profile:nth-of-type(1):before,
.user-profile-container.is-groupchat.has-5-members .img-user-profile:nth-of-type(1):before {
  border-width: 0 0 0 0; }

.user-profile-container.is-groupchat.from-4-to-5-members .img-user-profile:nth-of-type(2):before,
.user-profile-container.is-groupchat.has-5-members .img-user-profile:nth-of-type(2):before {
  border-width: 0 0 0 1px; }

.user-profile-container.is-groupchat.from-4-to-5-members .img-user-profile:nth-of-type(3):before,
.user-profile-container.is-groupchat.has-5-members .img-user-profile:nth-of-type(3):before {
  border-width: 0 0 1px 0; }

.user-profile-container.is-groupchat.from-4-to-5-members .img-user-profile:nth-of-type(4):before,
.user-profile-container.is-groupchat.has-5-members .img-user-profile:nth-of-type(4):before {
  border-width: 0 0 1px 1px; }
