@import 'variables';
@import 'mixins';



body {
	-webkit-font-smoothing: antialiased;
	font-family: Helvetica Neue, sans-serif;
}




/* Base & Nesting */
button {
  position: relative;
  box-sizing: border-box;
}

button[class*="jui-button"] {
  outline: $value-none;
  cursor: $value-pointer;
	
  padding: $padding-base $padding-base*2;
  border: $border-default-transparent;
  border-radius: $border-round-base;
	
  background-color: $color-mono;
	
  label {
	color: inherit;
	position: $pos-relative;
		
	font-weight: $bold-font-weight;
	font-size: $base-font-size;
		
	pointer-events: $value-none;
	line-height: $base-line-height;
  }
  
  i {
	color: inherit;
	position: $pos-relative;
	font-weight: $base-font-weight;
	display: $display-inline-block;
	font-size: $base-font-size*1.2;
	line-height: $base-line-height*0.8;
	
	&:last-child {
	  margin-right: -($base-font-size*0.25);
	}
	&:first-child {
	  margin-left: -($base-font-size*0.25);
	}
  }
  
  &:not([disabled]):active {
	box-shadow: $box-shadow-button-inset;
  }
  
  &[disabled] {
	@include when-disabled();
  }
}



/* Variations */
button.jui-button-confirm {
  background-color: $color-confirm;
  color: $color-white;

  &:not([disabled]):hover {
	background-color: $color-confirm-hovered;
  }
	
  &:not([disabled]):active {
	background-color: $color-confirm-pressed;
  }
	
  &:not([disabled]):focus {
	background-color: $color-confirm-pressed;
  }
  
  &.outlined {
	@include is-outlined($color-confirm, $color-white);
	
	&:hover {
	  border-color: $color-transparent;
	  color: $color-white;
	}
	
	&:active {
	  border-color: $color-transparent;
	  color: $color-white;
	}
	
	&:focus {
	  border-color: $color-transparent;
	  color: $color-white;
	}
  }
}


button.jui-button-alert {
  background-color: $color-alert;
  color: $color-white;

  &:not([disabled]):hover {
	background-color: $color-alert-hovered;
  }
	
  &:not([disabled]):active {
	background-color: $color-alert-pressed;
  }
	
  &:not([disabled]):focus {
	background-color: $color-alert-pressed;
  }
}

button.jui-button-cancel {
  background-color: $color-white;
  border-color: $color-cancel-border;
  color: $color-cancel;

  &:hover {
	background-color: $color-cancel-hovered;
  }
	
  &:active {
	background-color: $color-cancel-pressed;
  }
	
  &:focus {
	background-color: $color-cancel-pressed;
  }
  
  &.transparent {
	@include is-transparent($color-cancel);
	
	&:hover {
	  background-color: $color-cancel-hovered;
    }
  }

}

button[class*="arrow-shaped"] {
  &.left-arrow-shaped {
	padding-left: $base-font-size*0.3;
    margin-left: $base-font-size*0.9;
  }
  
  &.right-arrow-shaped {
	padding-right: $base-font-size*0.3;
	margin-right: $base-font-size*0.9;
	
	&:before {
	  transform: rotate(45deg) scaleX(-1);
	  left: auto;
      right: -12px;
      width: 24px;
	}
  }
  
  &:before {
	content: '';
    position: $pos-absolute;
    left: -12px;
    top: 3px;
    z-index: 0;
    width: 22px;
    border-style: solid;
    height: 22px;
    border-radius: 5px 4px 0 3px;
    border-color: inherit;
    border-width: 1px 0px 0px 1px;
    background-color: inherit;
    transform: rotate(-45deg) scaleX(1);
    box-shadow: inherit;
  }
}

button[class*="circular-shaped"] {
  border-radius: $base-line-height*2.4;
  padding-left: $base-line-height*1.2;
  padding-right: $base-line-height*1.2;
}

button[class*="dropdown"] {
  
  i {
	font-size: $base-font-size*0.9;
  }
}
