@mixin when-disabled() {
  cursor: $value-not-allowed;
  background-color: $color-mono;
  color: $color-white;
}

@mixin is-outlined($color, $background) {
  border-color: $color;
  background-color: $background;
  color: $color;
}

@mixin is-transparent($color) {
  border-color: $color-transparent;
  background-color: $color-transparent;
  color: $color;
}