/* base variables */

$base-font-size: 15px;
$base-font-weight: 600;
$border-round-base: 0.2em;

$color-confirm: #00ACE9;
$color-white: #FFF;
$color-mono: #CCC;
$padding-base: 6px 12px;

$border-default-transpaerent: 1px solid transparent;







body {
	-webkit-font-smoothing: antialiased;
}


/* Nesting */

.jui-button {
	
	background-color: $color-confirm;
	padding: $padding-base;
	border: $border-default-transpaerent;
	border-radius: $border-round-base;
	
	label {
		color: $color-white;
		font-weight: $base-font-weight;
		font-size: $base-font-size;
		
		pointer-events: none;
	}
	
}

/* Extend */

.jui-button[disabled] {
	@extend .jui-button;
	cursor: not-allowed;
	background-color: $color-mono;
}


