/* Default Variables */

$light-font-weight: 500;
$base-font-size: 15px;
$base-font-weight: 600;
$bold-font-weight: 700;
$border-round-base: 0.2em;
$base-line-height: 1.25em;

$color-confirm: #00ACE9;
$color-confirm-hovered: #0092D8;
$color-confirm-pressed: #0389C8;

$color-white: rgba(255, 255, 255, 1);

$color-mono: rgba(204, 204, 204, 1);

$color-badge: #FF5B49;

$color-alert: #D94516;
$color-alert-hovered: #C9302C;
$color-alert-pressed: #BB2A27;

$color-cancel: #617B8E;
$color-cancel-hovered: #F2F3F4;
$color-cancel-pressed: #F2F3F4;
$color-cancel-border: #C9D4DB;

$color-transparent: transparent;

$padding-base: 6px 12px;

$border-default-transpaerent: 1px solid transparent;

$box-shadow-button-inset: inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);

$value-none: none;

$value-pointer: pointer;

$value-not-allowed: not-allowed;

$pos-relative: relative;
$pos-absolute: absolute;
$pos-fixed: fixed;
$pos-sticky: sticky;
$pos-static: static;

$display-block: block;
$display-inline-block: inline-block;
$display-inline: inline;

