/* Default Variables */


$small-font-size: 13px;

$light-font-weight: 500;
$base-font-size: 15px;
$base-font-weight: 600;
$bold-font-weight: 700;
$border-round-base: 0.2em;
$base-line-height: 1.2em;

$color-confirm: #00ACE9;
$color-confirm-hovered: #0092D8;
$color-confirm-pressed: #0389C8;

$color-white: rgba(255, 255, 255, 1);

$color-mono: rgba(204, 204, 204, 1);
$color-mono-969696: #969696;
$color-mono-828282: #828282;
$color-badge: #FF5B49;

$color-alert: #D94516;
$color-alert-hovered: #C9302C;
$color-alert-pressed: #BB2A27;

$color-cancel: #617B8E;
$color-cancel-hovered: #F2F3F4;
$color-cancel-pressed: #F2F3F4;
$color-cancel-border: #C9D4DB;

$color-transparent: transparent;

$padding-base: 6px;

$border-default-transparent: 1px solid transparent;

$box-shadow-button-inset: inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);

$value-none: none;
$value-inherit: inherit;
$value-pointer: pointer;
$value-middle: middle;
$value-left: left;
$value-right: right;

$value-not-allowed: not-allowed;

$pos-relative: relative;
$pos-absolute: absolute;
$pos-fixed: fixed;
$pos-sticky: sticky;
$pos-static: static;

$display-block: block;
$display-inline-block: inline-block;
$display-inline: inline;

$size-xs-value: 23px;
$size-s-value: 26px;
$size-m-value: 28px;
$size-l-value: 32px;
$size-xl-value: 36px;
$size-106-value: 106px;

