<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>SCSS Test Template</title>
  
  <link rel="stylesheet" href="../css/styles.css" />
 
  <style>
	  i:before {
		font-family: 'typicons';
		speak: none;
		display: inline-block;
		-webkit-font-smoothing: antialiased;
		font-smoothing: antialiased;
		text-rendering: optimizeLegibility;
	  }
	  
	  td {
		  padding: 8px 0;
	  }
	  .class-name {
		padding: 2px 4px;
		border-radius: 2px;
		background-color: #F2F2F2;
		color: #757575;
	  }
  </style>
  
</head>

<body>

  <table style="border: none;padding: 0;margin: 0;width: 100%;text-align: left; font-size: 13px; font-weight: 400;">
	  <tbody>
		  <tr style="box-shadow: 0 1px 0 0 #CBCBCB; line-height: 32px;">
			  <th>
				  <span>클래스명 Class Name</span>
			  </th>
			  <th>
				  <span>미리보기 Preview</span>
			  </th>
			  <th>
				  <span>외관 Appearance</span>
			  </th>
			  <th>
				  <span>컬러 Color</span>
			  </th>
			  <th>
				  <span>크기 Size</span>
			  </th>
			  <th>
				  <span>형태 Type</span>
			  </th>
		  </tr>
		  <tr>
			  <td><label class="class-name">jui-button-confirm</label></td>
			  <td>
				  <button class="jui-button-confirm">
				    <label>Label</label>
				  </button>
			  </td>
			  <td></td>
			  <td></td>
			  <td></td>
			  <td></td>
		  </tr>
		  <tr>
			  <td><label class="class-name">jui-button-alert</label></td>
			  <td>
				  <button class="jui-button-alert">
				    <label>Label</label>
				  </button>
			  </td>
			  <td></td>
			  <td></td>
			  <td></td>
			  <td></td>
		  </tr>
	  </tbody>
  </table>

  
  
  <script src="../js/jquery-1.11.3.min.js"></script>
  
  
</body>

</html>
