
				  <table class="content-template" content-id="" width="" border="0" cellpadding="0" cellspacing="0">
					<tbody>
					  <tr>
						<td>
						  <a class="content-link" href="" target="_blank">
							<img class="content-thumbnail" src="" width="100%" >
						  </a>
						</td>
					  </tr>
					  <tr>
						<td style="padding: 1em 0 0px 0; background-color:#ffffff;">
						  <a class="content-link" href="" target="_blank" style="text-decoration:none;">
							<span class="content-title" style=" color:#00aaea;font-weight: bold;">
							</span>
						  </a>
						  <p class="content-description" style="font-size:13px;color:#777777">
						  </p>
						  <p class="content-author" style="color: #aaaaaa; margin-bottom: 0;">
						  </p>
						</td>
					  </tr>
					</tbody>
				  </table>