
	  <tr class="section-template" section-id="" section-order="" section-layout="">
		<td bgcolor="#ffffff" style="padding: 0 0 48px;">
		  <table border="0" cellpadding="0" cellspacing="0" width="600">
			<tbody>
			  <tr>
				<th bgcolor="#ebebeb" style="padding: 6px 12px 5px; text-align: left;">
				  <strong class="section-title" style="font-size: 20px;color: #000;">
				  </strong>
		  		</th>
		  		<th width="20" bgcolor="#e2e2e2">
		  		</th>
			  </tr>
      		</tbody>
		  </table>
		  <table class="layout-template">
		  </table>
  		</td>
	  </tr>
	  